.aboutme_container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-top: 5rem;
    position: relative;
    

}

.aboutme_text {
    
    background-color: aqua;
    padding: 1rem 1rem;
    display: flex;
    
    

}

.aboutme_photo {
    background-color: lightpink;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: flex-start;
    
    display: flex;
    
    

    
    
  
    
}    

.foto_lotte {
    
    width: 180px;
    border-radius: 90px;
    position: fixed; 
    
    
    
    
    
    
    
}



   
        
@media (min-width: 626px) {
    .aboutme_container {
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        
    }
    

}



@media (min-width: 1280px) {
    .aboutme_container {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
