.aboutme_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5rem;
    position: relative;
    gap: 4rem;
}

.aboutme_text {
    padding: 1rem 1rem;
    display: flex;
}

.aboutme_photo {
    padding: 1rem 1rem;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}    

.foto_lotte {
    width: 220px;
    border-radius: 110px;
    margin-top: 1rem;
    position: sticky; 
    top: 0;
    
}


@media (max-width: 375px) {
    .foto_lotte {
        width: 100px;
        border-radius: 50px;
    }

    .aboutme_container {
        gap: 0;
    }
}


@media (max-width: 1280px) {
    .aboutme_container {
    width: 100%;
    gap: 0;
    }
    }

   
        




@media (min-width: 1280px) {
    .aboutme_container {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
