html {
    font-family: Roboto;
}

footer {
   position: absolute;
   bottom: 0;
   background-color: var(--prim3);
   color: var(--sec1)
}

:root {
--prim1: #fac461;
--prim2: #959763;  
--prim3: #f1f3e5;
--sec1: #333;
--sec2: #ffffff;
}


.backdrop_img {
    width: 100%;
    max-height: 30rem;
}