html {
    font-family: Roboto;
}

body {
    margin: 0;
}

:root {
    --prim1: #767a4c;
    --prim2: hsl(62, 22%, 46%);  
    --prim3: #FFD600;
    --sec1: #333;
    --sec2: #ffffff;
    }





.image_head {
    height: 20rem;
    width: 100%;
    background-image:url("/images/background.png");
    
    background-size:auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


footer {
    position:static;
    display: grid;
    bottom: 0;
    background-color: var(--prim2);
    grid-template-areas: 
    'fp . . fs fs . '
    'fc fc fc fc fc fc';
    gap: .5rem;
    margin-top: 9rem;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;

 }


 .footer_links_pages {
    grid-area: fp;


 }

 footer > .footer_links_pages > li > a, 
 footer > .footer_links_pages > li > a::link,
 footer > .footer_links_pages > li > a::visited,
 footer > .footer_links_pages > li > a::active {
        color: var (--sec1);
 }

 

 footer > .footer_links_socials > ul {
    margin: 0;
    padding-left: 0;
 }

 .footer_links_socials {
    grid-area: fs;
    

 }

 .footer_copyright {
    grid-area: fc;
    color: var(--sec1)
 }


 @media (max-width: 420px) {
    footer {
        display: grid;
        row-gap: 1.5rem;
        grid-template-areas: 
        'fp .'
        'fs .'
        'fc fc';
    }
 }
 