.grid_container {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    row-gap: 1rem;
    width: auto;
    overflow: hidden;
    
}

.content {
    color: var(--sec1);
    /* border: #333 solid 1px;
    background-color: var(--prim1); */
    padding: 1rem 1rem;
    display: flex;

}


.content__quote {
    display: grid;
    gap: 5rem;
    align-items:center;
    grid-template-areas:
    'l q q q q q'  ;
   
}

.logo_new {
    
    height: 12rem;
    border-radius: 6rem;
    grid-area: l;
}

#quote-text {
    font-weight: bold;
    font-size: 2rem;
    vertical-align: middle;
    grid-area: q;
}

@media (max-width: 625px) {
.content__quote {
    display: grid;
    grid-template-areas:
    '. . l l . .'
    'q q q q q q';
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
}

#quote-text {
    text-align: center;
}


}





